body{
  background-image: url("img/bg.jpg");
  background-position: center;
  background-size: cover;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";

}
.nav-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {
 color:green;
  font-family: 'Muli', sans-serif;
  font-size: 4em;
  float:none;

}
#main-title{
  color: white;
}
.navbar{
  background-color: rgba(41, 128, 185,1.0);


}
.row{
  text-overflow: ellipsis;
  white-space:nowrap;
  text-align: left;
}
.container{
    margin-top:  5%;
}
.col-lg-6, .col-sm-6,.col-xs-12{
  padding: 0px;
  height: 100%;
  background-color: rgba(192, 57, 43,1.0);
  opacity: 1;
  text-overflow: ellipsis;
  white-space:nowrap;
  border: solid 2px black;
}
.audio{
  background-color: black;
}
li{
  list-style: none;
  text-overflow: ellipsis;
  color: white;
  white-space:nowrap;
}
li:hover{
  background-color: rgba(230, 126, 34,1.0);

}
span {
	background: #e74c3c;
	height: 30px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
  background-color: rgba(52, 73, 94,1.0);
	width: 40px;
	opacity: 1.0;
}
.fa{
  margin-top: 15%;
}

#dancing {
    width: 25%;
}
marquee{
    color: white;
}